.table {
  margin-top: 1.2rem;
  overflow: scroll;
  height: 30rem;
  color: #6a5d5d;
}

.table tr {
  display: flex;
  justify-content: space-between;
}

.table td {
  padding: 0.4rem;
}

.table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}
